/* Gilroy shriftini ulash (Agar fayllaringiz bo'lsa @font-face ishlating, 
bo'lmasa tizimdagi sans-serifga yo'naltiriladi) */
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy-Medium', 'Gilroy', sans-serif;
}

body {
  background-color: #ffffff;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
